[submodule "src"]
	path = src
	url = https://github.com/samuel40791765/aws-lc.git
	branch = boringssl-merge-7fffa4636cf7647daf981914286d5d32f1beab6d
[submodule "cryptol-specs"]
	path = cryptol-specs
	branch = sha-imperative
	url = https://github.com/GaloisInc/cryptol-specs.git
